# SAP AI Core (Generative AI Hub) — from your Service Key
AICORE_CLIENT_ID=sb-c06d539a-4ccc-40cb-950a-1cb127c1802d!b632983|aicore!b540
AICORE_CLIENT_SECRET=395b6fec-98fe-404a-b377-8a525f5593ee$SY-GDUrmyuFXGBub3g0mav7VrTSRuUoDFq6o0wWAJ4s=
AICORE_AUTH_URL=https://sap-joulestudio-training.authentication.eu10.hana.ondemand.com
AICORE_BASE_URL=https://api.ai.prod.eu-central-1.aws.ml.hana.ondemand.com
AICORE_RESOURCE_GROUP=default
AICORE_MODEL=anthropic--claude-4.6-sonnet

# Server
PORT=5000
